USE [CrudADOdb] -- Assuming "CrudADOdb" database exists
GO

CREATE OR ALTER PROCEDURE [dbo].[spEditEmployee]
(
    @Id INT,
    @Name VARCHAR(50),
    @Gender VARCHAR(50),
    @Age INT,
    @DateOfJoining DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Employees -- Assuming "Employees" table exists
    SET 
        Name = @Name,
        Gender = @Gender,
        Age = @Age,
        DOJ = @DateOfJoining
    WHERE Id = @Id;
END
GO