USE [CrudADOdb]
GO

CREATE PROCEDURE [dbo].[AddEmployee]
(
    @Name VARCHAR(50),
    @Gender VARCHAR(50),
    @Age INT,
    @DateOfJoining DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Employees (Name, Gender, Age, DOJ)
    VALUES (@Name, @Gender, @Age, @DateOfJoining);
END
GO