USE [CrudADOdb]
GO

-- Check if the stored procedure already exists
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'spEditEmployee' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
    -- Drop the existing stored procedure
    DROP PROCEDURE [dbo].[spEditEmployee]
END
GO

-- Create the new stored procedure
CREATE PROCEDURE [dbo].[spEditEmployee]
(
    @Id INT,
    @Name VARCHAR(50),
    @Gender VARCHAR(50),
    @Age INT,
    @DateOfJoining DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Employees -- Assuming "Employees" table exists
    SET 
        Name = @Name,
        Gender = @Gender,
        Age = @Age,
        DOJ = @DateOfJoining
    WHERE Id = @Id;
END
GO