USE [CrudADOdb]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateEmployee]    Script Date: 1/9/2025 6:50:14 PM ******/

ALTER procedure [dbo].[spUpdateEmployee]
(
@Id int,
@name varchar(50),
@gender varchar(50),
@age int,
@dateofjoining date
)
as
begin 
Update Employees set name=@name, gender=@gender,
age=@age, DOJ=@dateofjoining
where Id=@Id
end